@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');
@import 'tailwindcss';

@import '../components/Navbar/navbar.css';
@theme {
  --color-black_: #191919;
  --padding-app-spacing: 0 80px;
  --font-primary: var(--primary-font);
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 500px;
}

:root {
  --app-pad: 0 80px;
  --primary-font: 'Euclid Circular B', sans-serif;
}

body {
  @apply font-primary bg-[#f5f5f5];
}

* {
  box-sizing: border-box;
}

svg {
  @apply inline-block;
}
.h3 {
  @apply my-4 text-xl font-semibold text-[#191919];
}

.corner-round {
  @apply rounded-2xl border border-[#E4E4E4];
}
.container__ {
}

.header__ {
  @apply bg-black_ xxs:p-[10px_20px] xxs:h-[100px] xxs:flex-col flex justify-between md:flex-row xl:h-[82px] xl:p-[0_80px];
}

.header__icons {
  @apply flex items-center gap-[25px];
}

.header__icons > .btn {
  @apply h-auto w-auto min-w-auto border-0 border-white bg-transparent p-0;
}
.header__icons > .btn:disabled {
  @apply opacity-100 active:scale-100;
}
.header__icons > .btn svg {
  @apply h-8 w-8;
}

.initial {
  @apply relative inline-flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-white text-[23px] font-medium;
}

.name_email {
  @apply invisible absolute top-[44px] right-0 z-10 inline-block rounded-xl bg-[#f5f5f5] px-4 py-2 opacity-0;
  transition: all 0.2s linear;
}
.initial:hover > .name_email {
  @apply visible opacity-100;
}

.input.nav_input {
  @apply xxs:w-[250px] rounded-[12px] bg-[#f5f5f5] px-10 ring-[#E4E4E4] md:w-[319px];
}

.overview {
  @apply xxs:flex-col flex min-h-[325px] gap-5 xl:flex-row;
}

.overview_left__section {
  @apply flex-1 bg-white py-3;
}

.duration_div {
  @apply mt-2 flex items-center justify-end gap-5 px-5;
}

.duration_div > span {
  @apply flex text-sm;
}

.btn.v_transaction {
  @apply h-[46px] w-[177px] rounded-[72px] border border-[#D6D6D6] bg-transparent text-xs font-medium text-[#191919];
}

.increase {
  @apply text-[#12B76A];
}
.decrease {
  @apply text-[#F04438];
}

.decrease > .c_arrow {
  @apply rotate-[180deg];
}

.overview_right__section {
  @apply xxs:flex-col xxs:w-auto xxs:gap-[20px] flex justify-between md:flex-row xl:w-[407px] xl:flex-col xl:gap-0;
}

.overview_right__section > article {
  @apply xxs:w-full h-[152px] xl:w-auto;
}

.carousel_wrapper {
  @apply xxs:grid-cols-[repeat(auto-fill,minmax(250px,1fr))] grid gap-4 py-6 md:grid-cols-[repeat(auto-fill,minmax(322px,1fr))];
}

.dropdown.settings_dropdown .dropdown__content {
  @apply top-[44px] -left-[331px];
}

.calendar_dropdown.dropdown > .dropdown__content {
  @apply xxs:top-[50px] xxs:-left-[114px] xxs:w-[calc(100vw-20px)] md:top-[62px] md:-left-[263px] md:w-auto xl:-left-[204px];
}

.calendar.btn {
  @apply min-w-auto bg-transparent;
}

.calendar th,
td {
  @apply border-[0.2px] border-[#242424] p-[5px] text-left align-top text-[9.94px] font-medium text-[#969696];
}

.btn.budget {
  @apply xxs:w-[calc(100%_-_20px)] mx-auto mt-2 h-[46px] rounded-full bg-[#18181B] text-[#ffffff] md:w-[344px];
}

.bar_chart_wrapper {
  @apply xxs:flex-col xxs:items-stretch flex pr-5 pl-3 lg:flex-row xl:items-center;
}
